<h1>{{ article.title  }} </h1>
<p>{{ article.content }}</p>

<p>Autor: <a href="/show/user/{{ article.author.id  }}">{{ article.author.username }}</a>
<br/>
<a href="/edit/article/{{ article.id }}">Edytuj </a>
<br/>
<a href="/show/category/{{ article.category.id }}">Powrót do kategori </a>
