{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ article.title  }} </h1>
<div><p>{{ content | raw}}</p></div>

<p>{% trans %}Autor{% endtrans %}: <a href="/show/user/{{ article.author.id  }}">{{ article.author.username }}</a>
<br/>
<a href="/edit/article/{{ article.id }}">{% trans %}Edytuj{% endtrans %} </a>
<br/>
<a href="/show/category/{{ article.category.id }}">{% trans %}Powrót do kategori{% endtrans %} </a>
{% endblock %}
