{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ gallery.name }}</h1>
<h3>{{ gallery.description }}</h3>
{% for image in gallery.images %}
<table>
  <tr>
    <th>
      {{ image.name }}</br>
      <a href="/show/image/{{image.id}}"><img src="{{ asset('images/' ~ image.getFullSize) | imagine_filter('my_thumb') }}"/></a>
    </th>
  </tr>
</table>
{% endfor %}


<a href='/add/image'>Dodaj nowy obrazek </a></br>
<a href='/show/galleries'>Powrót do listy galerii </a>
{% endblock %}
