{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ gallery.name }}</h1>
<h3>{{ gallery.description }}</h3>
{% for image in gallery.images %}
<div class="col-lg-4">
<table class="table">
  <tr>
    <th>
      {{ image.name }}</br>
      <a href="/show/image/{{image.id}}"><img src="{{ asset('images/' ~ image.getFullSize) | imagine_filter('my_thumb') }}"/></a>
    </th>
  </tr>
</table>
</div>
{% endfor %}

<div style="clear:both">
  <a href='/add/image'>{% trans %}Dodaj nowy obrazek{% endtrans %}</a></br>
  <a href='/show/galleries'>{% trans %}Powrót do listy galerii{% endtrans %}</a>
</div>
{% endblock %}
