<h1>{{ image.name  }} </h1>
<h3>{{ image.description }}</h3>

<img src="{{ asset('images/' ~ image.getFullSize) }}" width="300px"/>
<p>Autor: <a href="/show/user/{{ image.author.id  }}">{{ image.author.username }}</a>
<br/>
<a href="/show/gallery/{{ image.gallery.id }}">Powrót do galerii </a>
