<h1>Obrazki</h1>
<ul>

{% for image in images %}
<table>
  <tr>
    <th>Nazwa</th>
    <th> {{ image.name }} </th>
  </tr>
  <tr>
    <th>Opis</th>
    <th> {{ image.description }} </th>
  </tr>
  <tr>
    <th>Galeria</th>
    <th> {{ image.gallery.name }} </th>
  </tr>
  <tr>
    <th>Autor</th>
    <th> {{ image.author.username }} </th>
  </tr>
  <tr>
    <th>Obrazek</th>
    <th> <img src="{{ asset('images/' ~ image.getFullSize) | imagine_filter('my_thumb') }}"/> </th>
  </tr>
 
</table>
{% endfor %}
</ul>
