{% extends 'base.html.twig' %}

{% block body %}
<h1>{% trans %}Użytkownik{% endtrans %}</h1>
<table class="table">
  <tr>
    <th>{% trans %}Login{% endtrans %} </th>
    <th> {{ user.username }} </th>
  </tr>
  <tr>
    <th>Email</th>
    <th> {{ user.email }} </th>
  </tr>
  <tr>
    <th>{% trans %}Role{% endtrans %} </th>
    <th> 
      <table class="table">
        <tr>
          <td>{% trans %}Uprawnienia do edytowania galerii{% endtrans %}</td>
            {% if roles[0] %} 
              <td>{% trans %}Posiada{% endtrans %}</td>
                {% if is_granted('ROLE_USER_ADD') %}<td><a href= '/change_gallery_role/{{ user.ID }}'>Zabierz</a></td>{% endif %}
            {% else %} 
              <td>{% trans %}Nie posiada{% endtrans %}</td>
               {% if is_granted('ROLE_USER_ADD') %}<td><a href= '/change_gallery_role/{{ user.ID }}'>Dodaj</a></td>{% endif %}
            {% endif %}
        <tr>
        <tr>
          <td>{% trans %}Uprawnienia do edytowania artykułów{% endtrans %}</td>
          {% if roles[1] %} 
              <td>{% trans %}Posiada{% endtrans %}</td>
              {% if is_granted('ROLE_USER_ADD') %} <td><a href= '/change_article_role/{{ user.ID }}'>Zabierz</a></td>{% endif %}
            {% else %} 
              <td>{% trans %}Nie posiada{% endtrans %}</td>
               {% if is_granted('ROLE_USER_ADD') %}<td><a href= '/change_article_role/{{ user.ID }}'>Dodaj</a></td>{% endif %}
            {% endif %}
        <tr>
        <tr>
          <td>{% trans %}Uprawnienia do edytowania kalendarium{% endtrans %}</td>
          {% if roles[2] %} 
              <td>{% trans %}Posiada{% endtrans %}</td>
              {% if is_granted('ROLE_USER_ADD') %}<td><a href= '/change_callendar_role/{{ user.ID }}'>Zabierz</a></td>{% endif %}
            {% else %} 
              <td>{% trans %}Nie posiada{% endtrans %}</td>
              {% if is_granted('ROLE_USER_ADD') %} <td><a href= '/change_callendar_role/{{ user.ID }}'>Dodaj</a></td>{% endif %}
            {% endif %}
        <tr>
        <tr>
          <td>{% trans %}Uprawnienia do edytowania użytkowników{% endtrans %}</td>
           {% if roles[3] %} 
              <td>{% trans %}Posiada{% endtrans %}</td>
              {% if is_granted('ROLE_USER_ADD') %}<td><a href= '/change_user_role/{{ user.ID }}'>Zabierz</a></td>{% endif %}
            {% else %} 
              <td>{% trans %}Nie posiada{% endtrans %}</td>
              {% if is_granted('ROLE_USER_ADD') %} <td><a href= '/change_user_role/{{ user.ID }}'>Dodaj</a></td>{% endif %}
            {% endif %}
        <tr>
      </table>
    </th>
  </tr>

</table>

<a href='/show/users'>{% trans %}Powrót do listy użytkowników{% endtrans %}</a>
{% endblock %}
