{% extends 'base.html.twig' %}

{% block body %}
<script>
function role_function(role_name, user_id){
$.post( "/change_role/" + user_id + "/" + role_name , function( data ) {
  console.log(data["role"]);
  if(data["role"]){
    $( "#" + role_name + "_status" ).html("Posiada" );
    $( "#" + role_name + "_button" ).html("Zabierz" );
  }else{
    $( "#" + role_name + "_status" ).html("Nie posiada" );
    $( "#" + role_name + "_button" ).html("Dodaj" );
  }
});
}
</script>
<h1>{% trans %}Użytkownik{% endtrans %}</h1>
<table class="table">
  <tr>
    <th>{% trans %}Login{% endtrans %} </th>
    <th> {{ user.username }} </th>
  </tr>
  <tr>
    <th>Email</th>
    <th> {{ user.email }} </th>
  </tr>
  <tr>
    <th>{% trans %}Role{% endtrans %} </th>
    <th> 
      <table class="table">
      {% for role_name, role_description in name_roles %}
        <tr>
          <td>{{ role_descriptin }}</td>
            {% if roles[role_name] %} 
              <td id='{{role_name}}_status'>{% trans %}Posiada{% endtrans %}</td>
                {% if is_granted('ROLE_USER_ADD') %}<td ><a id='{{ role_name }}_button' href='#' onclick='role_function("{{ role_name }}",{{ user.ID }})'>Zabierz</a></td>{% endif %}
            {% else %} 
              <td id='{{ role_name }}_status'>{% trans %}Nie posiada{% endtrans %}</td>
               {% if is_granted('ROLE_USER_ADD') %}<td><a id='{{ role_name }}_button' href='#' onclick='role_function("{{ role_name }}",{{ user.ID }})'>Dodaj</a></td>{% endif %}
            {% endif %}
        </tr>
       {% endfor %}
       </table>
    </th>
  </tr>

</table>

<a href='/show/users'>{% trans %}Powrót do listy użytkowników{% endtrans %}</a>
{% endblock %}
